.cv__managerment {
  .ant-modal-footer {
    border-top: none;
  }
  .table-main {
    // padding: 0;
  }
  .ant-form-item {
    margin-bottom: 0;
    .ant-form-item-label {
      padding-bottom: 0;
    }
  }
  .ant-table-row {
    cursor: pointer;
  }
  .header-list {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    padding: 20px 28px 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      margin: 0;
    }
  }
  &--content {
    // padding: 18px 16px 50px 24px;
  }

  &--table {
    .text-truncate {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  // filter CV management
  .cv__filter-box {
    display: flex;
    flex-wrap: wrap;
    .box-search__filter {
      display: flex;
      input {
        height: 40px;
        width: 250px;
      }
      button {
        margin-left: 12px;
        width: 40px;
        height: 40px;
      }
      .width-152,
      .filter__assignee {
        height: 40px;
        width: 250px;

        .ant-select-selector {
          height: 40px !important;
          cursor: pointer !important;
        }
        .ant-select-selection-overflow {
          top: -2px;
        }
        .ant-select-selection-overflow-item {
          top: -5px !important;
        }
      }
      .filter__assignee {
        width: 250px;
      }
    }
    .filter-box__items {
      margin-right: 12px;
    }
  }
  .fullscreen-enabled {
    background: #fff !important;
    overflow: auto !important;
    .table__content {
      .icon-enter {
        display: none !important;
      }
      .icon-close {
        display: block !important;
      }
    }
  }
  // all css about table
  .table__content {
    margin-top: 11px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 12px 12px 16px 11px;
    .icon-enter {
      display: block !important;
    }
    .table-button {
      margin-bottom: 12px;
    }
    .icon-close {
      display: none !important;
    }
    &--actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 16px;
      & > span:hover {
        cursor: pointer;
      }
    }

    &--detail {
      margin-top: 14px;

      .ant-pagination {
        margin: 0 !important;
        margin-top: 57px !important;
      }

      .ant-table-tbody {
        margin-bottom: 10px;
      }
    }
  }

  .ant-table-cell:last-child {
    padding: 12px 24px;
  }

  .box {
    &-button {
      button {
        margin: 0 10px;
      }
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
    &-history {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 70px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
      h2 {
        margin-bottom: 0;
      }
      button {
        border: 0;
        margin-right: 18px;
      }
    }
  }
  .cv {
    margin-top: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-bottom: 100px;
    display: flex;
    &-image {
      width: 30%;
      text-align: center;
      .image-show {
        img {
          margin-top: 38px;
          width: 250px;
          height: 250px;
        }
      }
      .image-change {
        display: flex;
        align-items: center;
        justify-content: center;
        :nth-child(2n - 1) {
          margin: 10px 10px;
        }
        img {
          width: 40px;
          height: 40px;
          cursor: pointer;
          :hover {
            opacity: 0.8;
          }
        }
      }
      .image-psyco {
        button {
          margin-bottom: 20px;
        }
      }
    }
    &-detail {
      width: 70%;
      margin-top: 38px;
      display: flex;
      justify-content: center;
      &__left {
        width: 100%;
        p {
          margin: 12px 0;
        }
      }
      &__right {
        overflow-wrap: break-word;
        margin-left: 50px;
      }
      &__infor {
        display: flex;
        align-items: center;
        // text-align: center;
        :first-child {
          min-width: 140px;
        }
        p,
        h4 {
          margin-top: 12px;
          margin-bottom: 12px;
          overflow-wrap: anywhere;
          // padding-right: 120px;
          a {
            text-decoration: underline;
          }
        }
        h4,
        a {
          margin-left: 60px;
          padding: 0 20px;
        }
      }
      &__actions {
        float: right;
        margin: 0 auto;
        margin-right: 42px;
      }
    }
    &-history {
      margin-top: 45px;
      box-shadow: -18px 0px 0px -17px rgba(0, 0, 0, 0.06);
    }
  }
  .icon-table {
    cursor: pointer;
    font-size: 20px;
  }
  .box-list {
    .table-container__button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 14px;
      .icon-table + .icon-table {
        margin-left: 17px;
      }
      .icon-table {
        cursor: pointer;
        font-size: 20px;
      }
    }
    .fullscreen-box {
      background: #fff;
      overflow-y: auto;
    }
  }
  &--popover {
    .ant-popover-content {
      .ant-popover-arrow {
        display: none;
      }
    }
  }
  &--actions {
    display: flex;
    flex-direction: column;
    width: 120px;
    & button {
      border: 1px solid #ffffff;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      padding: 9px 17px;
      display: flex;
      column-gap: 11px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        border: 1px solid #0077c8 !important;
        color: inherit;
      }
    }
    .actions__detail {
      text-decoration: none;
      width: 100%;
      border: 1px solid #ffffff;
      font-size: 14px;
      line-height: 22px;
      padding: 9px 17px;
      display: flex;
      column-gap: 11px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      &:hover {
        color: inherit;
        border: 1px solid #0077c8 !important;
      }
    }
  }
  &--additional {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    margin-bottom: 12px;

    & > span {
      width: 20px;
      height: 20px;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &--confirmRemove {
    .redText {
      color: #ff4d4f;
    }
  }
}
.ant-drawer-body > span {
  display: flex;
  align-items: center;
}
.searchForm__stepCV {
  .ant-select-selector {
    height: 40px;
  }
}

.file-uploader {
  display: flex;
  width: 100%;
  justify-content: center !important;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px dashed #ccc;
  flex-direction: column;
  gap: 20px;
}
.upload {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.download-link {
  margin-top: 70px !important;
}
.table-drawer {
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}
.import__drawer {
  &--error {
    margin-bottom: 20px;
    .error {
      color: red;
      margin-bottom: 0;
    }
  }
}
.footer__mail__modal {
  display: flex;
  justify-content: flex-end;
}
.warnning-text {
  color: #ffcc00;
  display: flex;
  flex-direction: row;
  align-items: center;
  .pending-mail {
    margin-left: 10px;
    margin-bottom: 0;
  }
}
.danger-text {
  color: red;
  margin-bottom: 0;
  margin-top: 10px;
}
