$icon-dropdown: url('../images/position/Vector.png');
$active-color: '#0077c8';
.position {
  margin-bottom: 50px;
  .department__create {
    background-color: #ffffff;
    padding: 16px 24px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    .department__btn {
      display: flex;
      justify-content: flex-end;
      .department__btn-create {
        padding: 5px 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #1890ff;
        box-sizing: border-box;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 2px;
        background-color: #1890ff;
        margin-left: 10px;
      }
    }
  }
  .department__filter {
    margin: 16px 0px 0 0px;
    padding: 16px 24px;
    .ant-form-item-label {
      padding-bottom: 0;
    }
    input {
      height: 40px;
    }
    .ant-select-multiple .ant-select-selector {
      position: relative;
      cursor: pointer;
    }
    .ant-select-selector {
      padding: 0;
      margin: 0;
      min-height: 40px;
    }
  }
  .ant-checkbox-wrapper {
    margin-right: 10px;
  }
  ul.ant-pagination {
    text-align: end;
  }
  .department__fullscreen {
    margin: 13px 16px 0px 24px;
    .department__table {
      box-shadow: 1px 1px 10px 0px #ddd;
      border-radius: 9px;
      padding: 6px 15px 6px 10px;
      background-color: #ffffff;
      .position__table-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
      .table-container__button {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        button {
          height: 24px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 8px;
          border-radius: 2px;
          box-sizing: border-box;

          span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .btn-remove {
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
          color: #ffffff;

          background: #ff4d4f;
          border: 1px solid #ff4d4f;

          &:disabled {
            color: rgba(0, 0, 0, 0.25);
            border-color: #d9d9d9;
            background: #f5f5f5;
            text-shadow: none;
            box-shadow: none;
          }
        }
        .btn-function {
          border: none;
          padding: 0 0 0 17.66px;
        }
      }
      &-title {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: auto;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      &-description {
        width: 263px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: auto;
        margin-bottom: 0;
        display: -webkit-box;
        align-items: center;
        -webkit-box-orient: vertical;
      }
    }
  }

  .ant-drawer-body {
    .ant-form-item-label {
      padding-bottom: 0;
      margin-right: 4px;
      .department__title-required {
        &::after {
          display: inline-block;
          color: #ff4d4f;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
          content: '*';
        }
      }
      .ant-form-item-required {
        &::before {
          content: '';
        }
      }
    }
  }
  .ant-pagination {
    margin-top: 61px !important;
    margin-bottom: 5px !important;
    margin-right: auto !important;
  }
  .fullscreen-enabled {
    background-color: #fff !important;
    .ant-table {
      max-height: 80vh !important;
      overflow-y: scroll;
      border: none;
    }
    .department__table {
      box-shadow: none;
    }
    .ant-table-wrapper {
      padding: 1rem;
    }
    .table__shadow {
      box-shadow: none;
    }
    .ant-pagination {
      margin-top: 10px !important;
    }
  }
}
.ant-popover-inner-content {
  padding: 0;
  .department__action {
    margin: -12px -16px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      border: 1px solid #ffffff;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      padding: 9px 17px;
      display: flex;
      justify-content: center;
      column-gap: 11px;
      align-items: center;
      cursor: pointer;
      &:hover {
        border: 1px solid $active-color;
        color: inherit;
      }
    }
  }
}
