.header-list {
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }
  button {
  }
  padding: 22px 24px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}
.box-list {
  padding: 0 24px;
  margin-bottom: 16px;

  .box-search {
    padding-bottom: 13px;
    align-items: center;
    display: flex;

    input {
      height: 32px;
    }
    button {
      margin-left: 12px;
      width: 40px;
      height: 40px;
    }
  }
  .table-fullscreen {
    background-color: white;
    overflow: auto;
  }
  .box-shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 0 10px;

    .title-limit {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      word-break: break-word;
    }

    .ant-table-cell {
      padding: 10px 16px !important;
    }
    th.ant-table-cell {
      padding: 16px 16px !important;
    }
    .action-icon {
      cursor: pointer;
      font-size: 22px;
    }
    .action {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
      .action-all {
        display: flex;
        align-items: center;
        button {
          font-size: 12px;
          padding: 0 8px;
          height: 24px;
          span {
            line-height: 24px;
          }
        }
      }
      .btn-action {
        padding: 0 10px;
        border: 0;
        background: none;
        cursor: pointer;
        font-size: 20px;
        color: #000;
        .export-icon {
          position: relative;
          top: -3px;
        }
      }
      .btn-action:last-child {
        padding-right: 0;
      }
    }
    .ellipsis {
      font-size: 25px;
      color: #000;
      cursor: pointer;
    }
  }
}

// Other
.overlayActionContent .ant-popover-inner-content {
  padding: 0 !important;
  .action-content {
    display: flex;
    flex-direction: column;
    button {
      padding: 20px 58px 20px 17px;
      display: flex;
      align-items: center;
      border: none !important;
    }
  }
}
.search-input {
  padding: 20px;
}
